1.What are data structures, and why are they important?

->Data structure is a way of organizing and storing data in computer programming and they are important because it can be accessed and manipulated efficiently.

2.P  Explain the difference between mutable and immutable data types with examples.

-> Mutable data types are the data types which allows you to change value after being created while immutable data type structures dont allow any change after being created.
eg: mutable data type are list and dictionaries.
eg:immutable data type are tupple and string.

3.What are the main differences between lists and tuples in Python?

->List are mutable data type structure and are represented with square brackets
'[]' while tuples are immutable type data structure and are represented with round brackets'()'.

4.Describe how dictionaries store data.

->Dictionaries are used to store data value in key:value pairs within braces'{}'

5.Why might you use a set instead of a list in Python?

-> You must use a set instead of list in python because set cannot have multiple occurences of the same elements,it make sets highly useful to efficiently removes the duplicate values from list and perform operations.Sets also use less memory.

6.What is a string in Python, and how is it different from a list?

-> String is a sequence of character enclosed in double or single quotes '',"".
we need string to represent and manipulate textual data.Strings are immutable while list are mutable.

7.How do tuples ensure data integrity in Python?

->Tuples are immutable to ensure that their contents remain constant throughout their lifecycle, this is the way tuples ensures data integrity.

8.What is a hash table, and how does it relate to dictionaries in Python?

->A hash table is data structure that stores key value pairs efficiently by using a hash function to quickly locate value based on their keys,essentially acting like a dictionary where you can look up a value using a specific key.

9.Can lists contain different data types in Python?

->Lists are heterogenous data types it can contain different data types in python.

 10.Explain why strings are immutable in Python?

 ->Strings are immutable in python because they cannot be changed after they are created.

 11.What advantages do dictionaries offer over lists for certain tasks?

 ->Dictionaries provide fast access to value based on their keys.
 ->Dictionaries can be easily resized when required.

 12.Describe a scenario where using a tuple would be preferable over a list.

 -> For example you need to maintain a record of 'employees id' which is fixed and does not required any change after being created in this case using tuple is more suitable as compared to list.

13.How do sets handle duplicate values in Python?

->Set automatically removes duplicate values. When you add a value to set it checks if that element is already present. If the value is already present in the set it wont be added again.

 14.How does the “in” keyword work differently for lists and dictionaries.

 ->In a list, 'in' checks if the value is present in the list.
 ->In a dictionary,'in' checks it the key is present,not the value.

 15.Can you modify the elements of a tuple? Explain why or why not.

 ->No, we cannot modify the elements in tuple because tuples are immutable.

 16.What is a nested dictionary, and give an example of its use case?

 ->A nested dictionary is a dictionary where the values themselves are dictionaries.Use case:-It can be used in school management system to store and manage data for multiple students, their grades in various subjects and their personal details.

 17.Describe the time complexity of accessing elements in a dictionary?

 ->In Python, dictionaries are implemented using hash tables, which allow for constant time average complexity for lookups, insertions, and deletions.

 18.In what situations are lists preferred over dictionaries?

 ->Lists are preferred over dictionaries in Python in situations where:
 ->storing a sequence of numbers
 ->Managing a collection of items where the order and position are important
 ->Traversing through a list of elements in order

 19.Why are dictionaries considered unordered, and how does that affect data retrieval.

 -> Dictionaries are unordered because it does not maintain the order in which key value pairs are added.the ability to retrieve data in a specific order or rely on iteration might be impacted.

 20.Explain the difference between a list and a dictionary in terms of data retrieval.

 ->Lists retrieve data by index ordered collection, slower for searching by value.
 ->dictionary retrieve data by key.

###PRACTICAL QUESTIONS

In [2]:
#1. Write a code to create a string with your name and print it.
str="Astha Sharma"
print(str)

Astha Sharma

In [3]:
#2.Write a code to find the length of the string "Hello World"
str="Hello World"
len(str)

11

In [6]:
#3.Write a code to slice the first 3 characters from the string "Python Programming
str="Python Programming"
str[:3]

'Pyt'

In [7]:
#4.Write a code to convert the string "hello" to uppercase.
str="hello"
str.upper()

'HELLO'

In [8]:
#5.Write a code to replace the word "apple" with "orange" in the string "I like apple".
str="I like apple"
str.replace("apple","orange")

'I like orange'

In [9]:
#6.Write a code to create a list with numbers 1 to 5 and print it.
list=[1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

In [10]:
#7.Write a code to append the number 10 to the list [1, 2, 3, 4].
list=[1,2,3,4]
list.append(100)
print(list)

[1, 2, 3, 4, 100]

In [11]:
#8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
list=[1,2,3,4,5]
list.remove(3)
print(list)

[1, 2, 4, 5]

In [13]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']
list=['a','b','c','d']
list[1]

'b'

In [14]:
#10.Write a code to reverse the list [10, 20, 30, 40, 50].
list=[10, 20, 30, 40, 50]
list[::-1]

[50, 40, 30, 20, 10]

In [16]:
#11.Write a code to create a tuple with the elements 100, 200, 300 and print it
t=(100,200,300)
print(t)
type(t)

(100, 200, 300)

tuple

In [17]:
#12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')
tuple=('red', 'green', 'blue', 'yellow')
tuple[2::]

('blue', 'yellow')

In [18]:
#13.. Write a code to find the minimum number in the tuple (10, 20, 5, 15)
t=(10, 20, 5, 15)
min(t)

5

In [21]:
#14.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
t=('dog', 'cat', 'rabbit')
t.index("cat")

1

In [23]:
#15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it
t=("apple","kiwi","mango")
"kiwi" in t

True

In [24]:
#16.Write a code to create a set with the elements 'a', 'b', 'c' and print it
set={'a','b','c'}
print(set)
type(set)

{'c', 'b', 'a'}

set

In [26]:
#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
set={1,2,3,4,5}
set.clear()
print(set)

set()

In [27]:
#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
set={1,2,3,4,5}
set.remove(4)
print(set)

{1, 2, 3, 5}

In [28]:
#19.Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}
a={1,2,3}
b={3,4,5}
a|b

{1, 2, 3, 4, 5}

In [29]:
#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}
a={1,2,3}
b={2,3,4}
a&b

{2, 3}

In [30]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it
d={"name":"Astha","age":21,"city":"varanasi"}
print(d)

{'name': 'Astha', 'age': 21, 'city': 'varanasi'}

In [34]:
#22. Write a code to add a new key-value pair "country": "USA" to the dictionary  {'name': 'John', 'age': 25}.
d= {'name': 'John', 'age': 25}
d["country"]="USA"
print(d)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [35]:
#23.Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}
d={'name': 'Alice', 'age': 30}
d["name"]

'Alice'

In [37]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York}
d= {'name': 'Bob', 'age': 22, 'city': 'New York'}
del d["age"]
print(d)

{'name': 'Bob', 'city': 'New York'}

In [38]:
#25.Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}
d={'name': 'Alice', 'city': 'Paris'}
"city" in d

True

In [39]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all
my_list = [1, 2, 3, 4, 5]
my_tuple = (10, 20, 30, 40, 50)
my_dict = {"name": "Alice", "age": 25, "city": "New York"}
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: (10, 20, 30, 40, 50)
Dictionary: {'name': 'Alice', 'age': 25, 'city': 'New York'}

In [41]:
#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.
list=[2,43,55,89,21]
list.sort()
print(list)

[2, 21, 43, 55, 89]

In [43]:
#28. Write a code to create a list with strings and print the element at the third index
list=["astha","apple","friends","banana"]
list[3]

'banana'

In [44]:
#29.Write a code to combine two dictionaries into one and print the result
dict1 = {"name": "Alice", "age": 25}
dict2 = {"city": "New York", "job": "Engineer"}
combined_dict = {**dict1, **dict2}
print("Combined Dictionary:", combined_dict)

Combined Dictionary: {'name': 'Alice', 'age': 25, 'city': 'New York', 'job': 'Engineer'}

In [52]:
#30. Write a code to convert a list of strings into a set
string_list = ["apple", "banana", "cherry", "apple", "orange"]
string_set = set(string_list)
print("Set:", string_set)

TypeError: 'set' object is not callable